@use "../abstract" as *;

.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
  // align-items: center;
  .auth-pop-up {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: $white-color;
    width: clamp(25rem, 25vw, 45rem);
  }
  .close-button {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
  }
}

.log-in {
  &-header {
    text-align: center;

    p {
      margin-top: 0;
      span {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .warning-message-container {
    text-align: center;
    .warning-message {
      font-size: calc(0.8 * $desktop-default-font-size);
      pointer-events: none;
      transition: all $transition-duration $transition-type;
      &.show {
        color: rgb(163, 163, 163);
      }
      &.hide {
        color: transparent;
      }
    }
  }
  .input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    & > * {
      margin-bottom: clamp(2rem, 4vh, 5rem);
    }
  }
}

.sign-up {
  &-header {
    text-align: center;

    p {
      margin-top: 0;
      span {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .warning-message-container {
    text-align: center;
    .warning-message {
      font-size: calc(0.8 * $desktop-default-font-size);
      pointer-events: none;
      transition: all $transition-duration $transition-type;
      &.show {
        color: rgb(163, 163, 163);
      }
      &.hide {
        color: transparent;
      }
    }
  }

  .input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    & > * {
      margin-bottom: clamp(2rem, 4vh, 5rem);
    }
  }
}
