@use "../abstract" as *;

.btn {
	text-align: center;
  font-weight: 400;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all $transition-duration $transition-type;
}

// button color styles start ------------------------------------------------------------
.primary-solid {
  position: relative;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  box-shadow: -0.5rem 0.5rem 1rem 0.1rem $shadow-color;

  &:hover {
    border-radius: 0.8rem;
    background-color: $primary-hover-color;
    box-shadow: -0.2rem 0.2rem 1rem 0.1rem $shadow-hover-color;
  }
}

.primary-outline {
  background-color: transparent;
  border: 0.3rem solid $primary-color;
  color: $dark-color;
}
// button color styles end --------------------------------------------------------------
// button size styles starts ------------------------------------------------------------
.medium {
	min-width: 10rem;
  padding: 1.5rem;
}
.large {
  padding: 1.5rem 10rem;
}

.small-square {
  padding: 1.5rem;
  height: 5rem;
  width: 5rem;
}
// button size styles end ---------------------------------------------------------------
