@use "../abstract" as *;

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: $desktop-default-font-size;
  border-radius: clamp(0.1rem, 1vw, 0.8rem);
  cursor: pointer;
  border: none;
  transition: all $transition-duration $transition-type;
}

// button color styles start ------------------------------------------------------------
.primary-solid {
  background-color: $primary-color;
  color: $white-color;
  box-shadow: -0.5rem 0.5rem 1rem 0.1rem $shadow-color;

  &:hover {
    background-color: $primary-hover-color;
    box-shadow: -0.2rem 0.2rem 1rem 0.1rem $shadow-hover-color;
  }
}

.primary-outline {
  background-color: transparent;
  border: 0.3rem solid $primary-color;
  color: $dark-color;
}

.white-solid {
  background-color: $white-color;
  color: $primary-color;
}

.disabled {
  background-color: #f2f6fa;
  color: #bdbdbd;
}
// button color styles end --------------------------------------------------------------
// button size styles starts ------------------------------------------------------------
.small {
  width: 10rem;
  // width:clamp(5rem, 20vw, 10rem);
  padding: clamp(1rem, 2.5vw, 1.5rem);
}

.medium {
  min-width: 10rem;
  padding: 1.5rem;
}
.large {
  padding: 1.5rem clamp(3rem, 3.5vw, 10rem);
}

.small-square {
  // padding: clamp(1rem , 2vw, 2rem );
  height: clamp(2.2rem, 3vw, 3rem);
  width: clamp(2.2rem, 3vw, 3rem);
}
// button size styles end ---------------------------------------------------------------
