@use "../abstract" as *;

.slot-preference-back-button {
  position: absolute;
  top: 50%;
  left: 5rem;
  border: none;
  background-color: $primary-color;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.slot-preference-section {
  position: relative;
  padding: 0 $section-horizontal-padding;
  &-header {
    &-heading {
      font-size: 4rem;
      margin: 0;
      span {
        color: $primary-color;
      }
    }
  }
  &-car-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    & > * {
      margin: 0.5rem;
    }
  }

  &-slots {
    margin-top: 2rem;
    text-align: center;
    &-heading {
      font-size: 3rem;
      margin: 0;
    }
    &-subheading {
      color: $light-dark-color;
      margin: 0;
    }
    &-type {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        padding: 1rem clamp(0.5rem, 5vw, 8rem);
        border: 0.2rem solid $off-white-color;
        border-radius: 2rem;
        &.selected {
          background-color: $faded-primary-color;
          color: $primary-color;
        }
        img {
          width: clamp(2rem, 3vw, 8rem);
          margin-right: 2rem;
        }
      }
    }
    &-date {
      &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
    &-time {
      &-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 5rem;
      }
    }
    &-CTA {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}

.day-card {
  cursor: pointer;
  width: clamp(3rem, 3.5vw, 6rem);
  padding: 1rem;
  margin: clamp(0.8rem, 0.8vw, 2rem);
  border: 0.2rem solid $off-white-color;
  border-radius: 1rem;
  &.selected {
    background-color: $faded-primary-color;
    color: $primary-color;
  }
}

.time-card {
  cursor: pointer;
  padding: 1rem;
  margin: 2rem;
  border: 0.2rem solid $off-white-color;
  border-radius: 1rem;
  font-size: calc(0.9 * $desktop-default-font-size);
  &.selected {
    background-color: $faded-primary-color;
    color: $primary-color;
  }
  p {
    margin: 0.2rem;
  }
}
