$primary-color: #5084fc;
$warning-color: #ffd028;
$danger-color: #eb3f27;
$success-color: #75fa83;
$white-color: #fdfdfd;
$off-white-color: #e6e6e6;
$dark-color: #140730;
$light-dark-color: #4f446a;
.services-hero-section {
  margin: 0 15rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/images/ChooseYourService/HeroSectionBackground.png");
  height: 100vh;
}

.services-book-now-section {
  padding: 10rem 15rem;
  display: flex;
  flex-direction: row;
  &-left {
    width: 50%;
    &-heading {
      font-size: 4rem;
      &-span {
        color: $primary-color;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        flex-direction: row;
        img {
          margin-right: 1rem;
        }
      }
    }
  }
  &-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40rem;
    }
  }
}

.services-estimated-cost-section {
  padding: 10rem 15rem 0 15rem;
  display: flex;
  flex-direction: row;
  &-left {
    width: 60%;
    padding-right: 15rem;
    &-heading {
      margin-bottom: 0;
    }
    &-car-details {
      span {
        font-weight: bold;
      }
    }
    &-price {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &-right {
    width: 40%;
  }
}

.services-packages-section {
  padding: 0 15rem;
  &-header {
    &-heading {
      font-size: 4rem;
      margin-bottom: 0;
      span {
        color: $primary-color;
      }
    }
  }
  &-car-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-package-container {
    display: flex;
    flex-direction: row;
    padding-top: 10rem;

    .included-services-list {
      width: 15%;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-top: 2rem;
        }
      }
    }
    .different-packages-container {
      width: 85%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.package {
  cursor: pointer;
  padding: 0 3rem;
  width: 20%;
  border-radius: 2rem;
  border: none;
  background-color: $white-color;
  transition: all 300ms ease-in-out;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-top: 2rem;
      img {
        width: 2rem;
      }
    }
  }
  &:hover {
    box-shadow: 0 0.2rem 1rem 0.1rem rgb(200, 200, 200);
  }

	&-price{
		font-size:2rem;
		font-weight: bold;
		span{
			text-decoration: line-through;
			font-size:1.5rem;
			color: rgb(158, 158, 158);
		}
	}

  .divider-line {
    width: 100%;
    height: 0.2rem;
    background-color: $light-dark-color;
		border-radius: 2rem;
  }
}
