@use "../abstract" as *;

.input-box-with-label {
  position: relative;
  border: 0.2rem solid $light-dark-color;
  border-radius: 1rem;
  padding: 0.5rem;
  min-width: 13rem;
  max-width: 90vw;
  display: flex;
	background-color: $white-color;

  &-label {
    position: absolute;
    background-color: $white-color;
    padding: 0 1rem 0 1rem;
    top: -1rem;
    left: 2rem;
    color: $light-dark-color;
    font-weight: bold;
    font-size: 1rem
  }

	&-prefix{
		font-size: 1rem;
		padding-left: 0.5rem;
	}

  &-input-field {
    border: none;
    padding: 0.7rem 0.7rem 0.7rem 2.5rem;
    width: 100%;
		background-color: $white-color;
    &:focus {
      outline: none;
    }
  }
}
