@use "../abstract" as *;

.input-bar {
  border: 0.2rem solid $light-dark-color;
  border-radius: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  display: grid;
  grid-template-columns: 9fr 1fr;
  width: 35rem;
	background-color: $white-color;
  &-input-field {
    border: none;
    &:focus {
      outline: none;
    }
  }
  &-icon {
    width: 2rem;
  }
}
