@use "../abstract" as *;

.input-box {
  border: 0.2rem solid $light-dark-color;
  border-radius: 1rem;
	padding: 0.5rem;
  width: 35rem;
	display: flex;

  &-input-field {
		border: none;
		padding:  0.5rem 1.8rem;
		width: 100%;
		font-size: $desktop-default-font-size ;
    &:focus {
      outline: none;
    }
  }
}
