$primary-color: #5084fc;

.nav-bar {
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0 0.2rem 1rem 0.1rem rgb(200, 200, 200);

  &-logo {
    display: flex;
    align-items: center;
    &-icon {
      width: 12rem;
    }
  }

  &-items {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-list {
      display: flex;
      flex-direction: row;
      padding: 0 5rem;
      list-style: none;

      li {
        margin: 0 5rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: -0.3rem;
          left: 0;
          width: 0%;
          height: 0.3rem;
          border-radius: 1rem;
          background-color: $primary-color;
          transition: all 300ms ease-in-out;
        }

        &:hover{
					&::after{
						width: 100%;
					}
					a{
						color: $primary-color;
					}
        }

        a {
          color: #000;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500;
					transition: all 300ms ease-in-out;
        }
      }
    }
    &-playstore-badge {
      display: flex;
      align-items: center;
      &-icon {
        width: 10rem;
				transition: all 300ms ease-in-out;
        &:hover {
          box-shadow: 0 0.2rem 1rem 0.1rem rgb(200, 200, 200);
        }
      }
    }
  }
}
