@use "../abstract" as *;

.nav-bar {
  position: sticky;
  background-color: $white-color;
  top: 0;
  left: 0;
  z-index: 990;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0 0.2rem 1rem 0.1rem $shadow-color;

  &-logo {
    display: flex;
    align-items: center;
    &-icon {
      width: 12rem;
    }
  }

  &-items {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-list {
      display: flex;
      flex-direction: row;
      padding: 0;
      list-style: none;

      li {
        margin: 0 3rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
				cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          top: -0.3rem;
          left: 0;
          width: 0%;
          height: 0.3rem;
          border-radius: 1rem;
          background-color: $primary-color;
          transition: all 300ms ease-in-out;
        }

        &:hover {
          &::after {
            width: 100%;
          }
          a {
            color: $primary-color;
          }
        }

        a {
          color: $dark-color;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500;
          transition: all 300ms ease-in-out;
        }
      }
			.iconed-item {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				img {
					width: clamp(1.5rem, 2vw, 3rem);
					margin-left: 1rem;
				}
			}
    }
    &-playstore-badge {
      display: flex;
      align-items: center;
      &-icon {
        width: 10rem;
        transition: all 300ms ease-in-out;
        &:hover {
          box-shadow: 0 0.2rem 1rem 0.1rem rgb(200, 200, 200);
        }
      }
    }
  }
}
