@use "../abstract" as *;
.search-bar{
	border: 0.2rem solid $light-dark-color ;
	border-radius: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: grid;
	grid-template-columns: 9fr 1fr;
	width: clamp(20rem, 40vw, 50rem);
	&-input{
		border: none;
		font-size: 1.5rem;
		&:focus{
			outline: none;
		}
	}
	&-icon{
		width: clamp(0.5rem, 1.8vw, 2rem);
	}
}