@use "../../abstract" as *;

.mobile-log-in-screen {
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90%;
  background-color: $mobile-app-default-background-color;
  padding: $mobile-section-horizontal-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    flex: 2;
    max-width: 85vw;
  }
}
.mobile-log-in-input-section {
  background-color: $white-color;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $mobile-section-horizontal-padding $mobile-section-horizontal-padding
    $mobile-page-padding-bottom $mobile-section-horizontal-padding;
  box-shadow: 0 -0.5rem 0.5rem 0.2rem $shadow-color;
	border-radius: 2rem 2rem 0 0 ;
  .skip-button {
    text-align: center;
		color: $primary-color;
  }
	header span{
		color: $primary-color;
		font-weight: bold;
	}
}
