@use "../../abstract" as *;

.mobile-log-in-screen {
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90vw;
  background-color: $mobile-app-default-background-color;
  padding: $mobile-section-horizontal-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden;

  img {
    flex: 2;
    max-width: 75vw;
  }

  &-close-button {
    position: absolute;
    top: 5rem;
    right: 5rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: $white-color;
      font-weight: bolder;
    }
  }
}
.mobile-log-in-input-section {
  background-color: $white-color;
  flex: 1;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $mobile-section-horizontal-padding $mobile-section-horizontal-padding
    $mobile-page-padding-bottom $mobile-section-horizontal-padding;
  box-shadow: 0 -0.5rem 0.5rem 0.2rem $shadow-color;
  border-radius: 2rem 2rem 0 0;
  header span {
    color: $primary-color;
    font-weight: bold;
  }

	&:focus-within {
		position: absolute;
		top: 3rem;
		left: 0;
		height: 100%;
		max-width: 90vw;
		justify-content: flex-start;
	}
  .skip-button {
    text-align: center;
    color: $primary-color;
  }

	& > *{
		margin-top: 2rem;
	}
}
