@use "../../abstract" as *;

.mobile-subscription-confirmation {
  .heading span {
    color: $primary-color;
  }
  .subheading {
    margin: 0;
  }
  .services-list {
    margin-bottom: 2rem;
    list-style: circle;
    li {
      margin-top: 1rem;
    }
  }
}

.mobile-service-subscriptions {
  background-color: $mobile-app-default-background-color;
  min-height: 100vh;
  padding-bottom: $mobile-page-padding-bottom;
}

.mobile-service-subscriptions-header {
  box-shadow: 0 0.5rem 0.5rem 0.2rem $shadow-color;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 $mobile-section-horizontal-padding;
  &-back-button {
    color: $primary-color;
    margin-right: 2rem;
  }
}

.mobile-service-subscriptions-banner {
  min-height: 25vh;
  img {
    width: 100%;
  }
}

.mobile-service-subscription-packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: $mobile-section-horizontal-padding;

  .heading {
    margin-bottom: 0;
  }
  .subheading {
    margin-top: 0;
    color: $light-dark-color;
  }
}

.package-card {
  position: relative;
  background-color: $white-color;
  border: 0.1rem solid $light-dark-color;
  padding: $mobile-section-horizontal-padding;
  border-radius: 1rem;
  width: 90%;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .best-seller-badge {
    position: absolute;
    z-index: 3;
    top: -2rem;
    right: 2rem;
    background-color: $warning-color;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    &::after {
      content: "";
      width: 5rem;
      height: 5rem;
      border-radius: 3rem;
      border: 0.1rem solid $warning-color;
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }

    @keyframes ring {
      0% {
        width: 7rem;
        height: 1rem;
        opacity: 1;
      }
      100% {
        width: 15rem;
        height: 5rem;
        opacity: 0;
      }
    }
  }
  .package-info {
    &-heading {
      font-weight: bolder;
      margin-bottom: 0;
    }
    .original-price {
      color: $light-dark-color;
      text-decoration: line-through;
    }
    .discounted-price {
      color: $primary-color;
    }
  }

  .select-button p {
    color: $primary-color;
    letter-spacing: 0.2rem;
    margin-right: 1rem;
  }
  &.best-seller {
    border: 0.1rem solid $primary-color;
    background-color: $primary-color;
    color: $white-color;

    .original-price {
      color: $off-white-color;
    }
    .discounted-price {
      color: $white-color;
    }
    .select-button p {
      color: $white-color;
    }
  }
}
