@use "../../abstract" as *;

.mobile-my-cars {
  padding: $mobile-page-padding-bottom $mobile-section-horizontal-padding;
  &-header {
    display: flex;
    &-back-button {
      color: $primary-color;
      margin-right: 2rem;
    }
  }
}

.mobile-my-cars-add-new-car-section {
  & > * {
    margin: 2rem 0;
  }
}
