html {
  font-size: 62.5%;
}
body {
  margin: 0;
	width: 100vw;
  font-family: 300 10px/1 "Manrope", "sans-serif";
  overflow-x: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
