@use "../abstract" as *;
.car-wash-services-book-now-section {
  padding: 10rem $section-horizontal-padding;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: center;
  &-left {
    width: 30%;
    &-heading {
			margin-top: 0;
      font-size: 4rem;
      &-span {
        color: $primary-color;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        flex-direction: row;
				align-items: center;
        img {
          margin-right: 1rem;
					height: 2rem;
        }
				p{
					margin: 0.5rem;
				}
      }
    }
  }
  &-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
			width: clamp(15rem, 22vw, 20rem);
    }
  }
}