@use "../abstract" as *;

.my-profile-section {
  padding: 0 $section-horizontal-padding;
  display: grid;
  grid-template-columns: 3fr 8fr;
  min-height: 80vh;
  &-left {
    background-color: $off-white-color;
    padding: 5rem 2rem;
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      & > * {
        margin-right: 2rem;
      }
    }
    &-btn {
      cursor: pointer;
			border-bottom: 0.1rem solid transparent;
			border-top: 0.1rem solid transparent;
			padding-left: 3rem;
			transition: all $transition-duration $transition-type;
      .selected {
				color: $primary-color;
      }
			
			&:hover{
				border-bottom: 0.1rem solid $light-dark-color;
				border-top: 0.1rem solid $light-dark-color;
				padding-left: 20%;
				// transform: translateX(-50%);
				// box-shadow: 0 0 0.2rem 1rem $shadow-color;
			}
    }
  }

  &-right {
    padding: 5rem;
  }
}

.profile-section {
  & > * {
    margin: 2rem;
  }
}

.profile-address-section {
  &-add-address {
    cursor: pointer;
    border: 0.2rem dashed $dark-color;
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
  }
  &-saved-address-box {
    border: 0.2rem solid $dark-color;
    padding: 2rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    align-items: center;
    line-height: 0.5;
    &-edit {
      cursor: pointer;
    }
    &-delete {
      cursor: pointer;
    }
  }
}

.support-section {
  .contact {
    cursor: pointer;
    border: 0.2rem solid $dark-color;
    margin: 1rem 0;
    max-width: 35rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
  }
}
