@use "../abstract" as *;

.payment-section {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem $section-horizontal-padding;
  &-left {
    margin: 0 2rem;
    &-address {
      box-shadow: 0.5rem 0.5rem 1rem 0.1rem $shadow-color;
      border-radius: 0.3rem;
      padding: 2rem;
      &-container {
        display: flex;
        flex-wrap: wrap;
        &-add-address {
          cursor: pointer;
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          margin: 1rem;
          border: 0.2rem dashed $dark-color;
        }
      }
    }
    &-instruction {
      box-shadow: 0.5rem 0.5rem 1rem 0.1rem $shadow-color;
      border-radius: 0.3rem;
      margin: 2rem 0;
      padding: 1rem;
      p {
        margin: 0;
      }
      input {
        min-width: 90%;
        padding: 2rem;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    &-payment {
      box-shadow: 0.5rem 0.5rem 1rem 0.1rem $shadow-color;
      border-radius: 0.3rem;
      margin: 2rem 0;
      padding: 1rem;
    }
  }

  &-right {
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem $shadow-color;
    border-radius: 0.3rem;
    margin: 0 2rem;
    padding: 2rem;

    &-add-service {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $dark-color;
      img {
        margin-right: 2rem;
      }
    }

    &-promocode {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
      border: 0.2rem solid $faded-primary-color;
      border-radius: 1rem;
    }
    &-bill {
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        color: $light-dark-color;
        p {
          min-width: 7rem;
        }
      }
      &-payable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        color: $dark-color;
        font-weight: bold;
        p {
          min-width: 7rem;
        }
      }
    }
  }
}

.cart-item {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem solid $faded-primary-color;
  border-radius: 1rem;
  margin: 1rem 0;
  &-cost {
    color: $primary-color;
    font-weight: bold;
    min-width: 7rem;
  }
}

.address-box {
  border: 0.2rem solid $light-dark-color;
  line-height: 0.2;
  padding: 1rem 2rem;
  margin: 1rem;
  &-details {
    margin-bottom: 2rem;
  }
}
