@use "../abstract" as *;
.products {
  padding: 5rem $section-horizontal-padding;

  &-heading {
    font-size: $section-heading-size;
  }

  &-list {
    display: grid;
		grid-template-columns: 1fr 1fr;
  }
}

.product-card {
  border: 0.2rem solid #cbcbcb;
  border-radius: 1rem;
  padding: 1rem 3rem;
  margin: 1rem;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-text {
      margin-left: 3rem;
      &-heading {
        margin: 1rem 0;
      }
      &-time {
        display: flex;
        flex-direction: row;
        img {
          margin-right: 1rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  &-feature-list {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem;

      img {
        padding-right: 2rem;
      }
      p {
        margin: 0;
      }
    }
  }

  &-CTA {
    display: flex;
    justify-content: flex-end;

    &-link {
      text-decoration: none;
      color: $white-color;
    }
  }
}
